/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);

  background-color: hsl(0, 0%, 95%);
}

.u-margin-big {
}
.u-margin-medium {

}
.u-margin-small {
    margin-bottom: 2.8rem;
}

.card-container {
    padding: 8rem 2.4rem;
    
}

.card {
    border-radius: 1rem;
}

.card-col {
    padding: 4.8rem;
}

.col-1 {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  background-color: hsl(31, 77%, 52%);
}

.col-2 {
  background-color: hsl(184, 100%, 22%);
}

.col-3 {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.card-col-logo {
    display: block;
}

.card-col-heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

.btn {
  text-decoration: none;
  display: block;

  background-color: hsl(0, 0%, 95%);
  width: fit-content;
  padding: 0 3.2rem;
  line-height: 4.8rem;
  border-radius: 100px;
}

.col-1 .btn {
    color: hsl(31, 77%, 52%);
}
.col-2 .btn {
    color: hsl(184, 100%, 22%);
}
.col-3 .btn {
    color: hsl(179, 100%, 13%);
}