/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);

  background-color: hsl(0, 0%, 95%);
}

.u-margin-big {
}
.u-margin-medium {
}
.u-margin-small {
}

.col-1 {
  background-color: hsl(31, 77%, 52%);
}

.col-2 {
  background-color: hsl(184, 100%, 22%);
}

.col-3 {
  background-color: hsl(179, 100%, 13%);
}

.card-col-heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

.btn {
  text-decoration: none;
  display: block;

  background-color: hsl(0, 0%, 95%);
  width: fit-content;
  padding: 1rem 4rem;
  border-radius: 100px;
}
